<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="container">
    <fieldset>
        <legend>Login</legend>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" fromControlName="password" placeholder="Password">
        </div>
        <input type="submit" class="btn btn-primary">
    </fieldset>
</form>
